$color_1: #333333;
$color_2: #0085A1;
$color_3: #777777;
$color_4: white;
$color_5: rgba(255, 255, 255, 0.8);
$font_family_1: 'Lora', 'Times New Roman', serif;
$font_family_2: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$background_color_1: rgba(255, 255, 255, 0.9);
$background_color_2: #777777;
$background_color_3: #0085A1;
$background_color_4: white;
$background_color_5: #333333;
$border_color_1: white;