$color_1: #333333;
$color_2: #c62828;
$color_3: #777777;
$color_4: white;
$color_5: rgba(255, 255, 255, 0.8);
$font_family_1: 'Roboto', serif;
$font_family_2: 'Montserrat', sans-serif;
$background_color_1: rgba(255, 255, 255, 0.9);
$background_color_2: #777777;
$background_color_3: #c62828;
$background_color_4: white;
$background_color_5: #333333;
$border_color_1: white;